<h1>Root#index</h1>
<p>Find me in app/views/root/index.html.erb</p>

<%= link_to "説明会予約", new_meeting_entry_path %>
<%= link_to "問い合わせ", new_question_path %>

<br>
--------------------------------------------------------
<section id="landing">
  <h1>DREAM</h1>
</section>
--------------------------------------------------------
<section id="about">
  <h1>DREAMとは</h1>
  <h1>DREAMの提供価値</h1>
  <h1>理念</h1>
</section>
--------------------------------------------------------
<section id="curriculum">
  <h1>社会人の語り場</h1>
  <h1>ビジネス思考</h1>
  <h1>回数無制限面談</h1>
</section>
--------------------------------------------------------
<section id="instructor">
  <h1>鳥羽</h1>
  <h1>井上</h1>
</section>